:root{
  --fullwhitespace: 22rem;
  --whitespace: 17rem;
}


html,
body {
  height: 100%;
}

body {
  font-size: $basesize;
  margin: 0;
  padding: 2em 0;
  font-family: "Work Sans", sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  line-height: 1.5;
  background: #fff;
  color: #222;
  overflow-x: hidden;
  scroll-behavior: smooth;
  //  -moz-font-feature-settings: "cswh" 1;
  // -moz-font-feature-settings: "cswh=1";
  // -ms-font-feature-settings: "cswh" 1;
  // -o-font-feature-settings: "cswh" 1;
  // font-feature-settings: "cswh" 1;
}

.wrap {
  position: relative;
}
::selection {
  background: black;
  color: white;
}

/* Media
-------------------------------------------------- */
img {
  max-width: 100%;
  height: auto;
  border: none;
  display: inline-block;
}

/* Links
-------------------------------------------------- */
a {
  color: #000;
  text-decoration: none;
  transition: color 0.3s, background 0.3s, border 0.3s;
}
a:hover {
  color: black;
}
sup {
  font-weight: 400;
  line-height: 1;
  vertical-align: bottom;
}

a {
  color: inherit;
  color: currentColor;
  text-decoration: none;
}
.underlink a, a.underlink {
  border-bottom: 1px solid;
}
sup{
  font-weight: 500;
  line-height: 1;
}
p {
  margin-bottom: 1em;
}

img {
  max-width: 100%;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
em {
  display: inline-block;
  font-style: normal;
  transform: skew(32deg) translate(-0.07em, -0.02em);
}
h1 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1.5em;
}
h2 {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1.5em;
}
h3 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 1.5em;
}
h4 {
  font-size: 1em;
  font-weight: 400;
  margin-bottom: 0.5em;
}
h1 a,
h2 a,
h3 a,
h4 a {
  color: inherit;
  border: 0 !important;
}

.gimmewhitespace {
  margin-left: var(--fullwhitespace);
  padding-right: 1em;
}

/* Header
-------------------------------------------------- */

.header {
  font-size: 1.5rem;
  line-height: 1.75rem;
  display: flex;
  margin-bottom: 2.25rem;
}
.header a {
  color: #000;
}
#logo {
  margin-left: 2rem;
  padding-left: 3rem;
  width: 20rem;
  span { display: block;}
}
#logo:before {
  content: "";
  display: block;
  position: fixed;
  width: 2rem;
  height: 2rem;
  margin: 0 0 2rem -3rem;
  background: url("../images/logo.svg") no-repeat;
  background-size: 100% 100%;
  z-index: 2000;
}

#nav {
  flex: 1;
}
.menu {
  padding-top: 2.75rem;
  display: flex;
  justify-content: flex-start;
}
.cart-button-li {
  flex-grow: 1;
  text-align: right;
}
.menu .active:before {
  content: "→ ";
}
.menu li {
  list-style: none;
  display: inline-block;
  padding-right: 1em;
}

.menu .shop--menuitem {
  display: none;
}

.section-shop .menu .shop--menuitem {
  display: inline-block;
  float: right;
}

/* Submenus
-------------------------------------------------- */

.submenu{
  line-height: 2rem;
  &.gimmewhitespace {
    margin-left: var(--whitespace);
  }
  li {
    font-size: 1.5rem;
    list-style: none;
    display: inline-block;
    padding-right: 1em;
    list-style-type: none;
  }
  li:before {
    display: none;
  }
  .active:before,
  .is-checked:before {
    content: "→ ";
    display: inline;
  }
  li a {
    border-bottom: none;
  }
}
.product-multiples [data-filter=".multiples"],
.product-posters [data-filter=".posters"],
.product-sounds [data-filter=".sounds"],
.product-machins [data-filter=".machins"],
.product-papers [data-filter=".papers"]{
  &::before {
    content: "→ ";
    display: inline;
  }
}
/* Home
-------------------------------------------------- */
.news-link {
  clear: both;
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
  line-height: 1.3;
  display: block;
  max-width: 34rem;
  float: left;
  padding: .75em 1em .25em calc(17rem / 2);
}
#volumes-link {
  background-image: linear-gradient(to left, rgba(245,162,118,1),rgba(230,0,126,1) );
}

#pourlinstant-link {
  background-image: linear-gradient(to bottom, rgba(134,221,120,1),rgba(101,168,91,1) );  
}

#home-content {
  &.gimmewhitespace {
    margin-left: var(--whitespace);
  }
  font-size: calc(3.2vw);
  // font-size: 3rem;
  line-height: 1.35;
  padding-right: 2rem;
  margin-top: -.25em;
}

/* Main
-------------------------------------------------- */
.main {
  padding-left: 5rem;
  &.gimmewhitespace {
    margin-left: var(--whitespace);
  }
  > :first-child {
    margin-top: 0;
  }
  hr {
    margin: 3em 0;
    height: 1px;
    width: 3em;
    background: #000;
  }
  p,
  figure,
  ul,
  ol,
  blockquote {
    margin-bottom: 1.5em;
  }
}

/* Lists
-------------------------------------------------- */

.list {
  list-style-type: none;
  &.gimmewhitespace {
    margin-left: var(--whitespace);
  }
  li {
    margin-bottom: 2em;
  }
  strong {
    display: block;
    font-size: 3rem;
    font-weight: 400;
    line-height: 1.15;
    margin-bottom: .15em;
  }
}

/* Texts
-------------------------------------------------- */


.text {
  a {
    color: black;
    border-bottom: 1px solid #aaa;
  }
  a:hover {
    border-color: #000;
  }
  
  blockquote {
    font-size: 1.5em;
    margin-left: var(--whitespace);
    max-width: 50rem;
    line-height: 1.25;
  }
  h1,
  h2,
  h3 {
    margin: 1.5em 0 1em var(--whitespace); 
    font-size: 1.5rem;
    font-weight: 400;
  }
  h4 {
    margin-left: 8.75rem; 
    font-size: 1.5rem;
    font-weight: 400;    
  }
  h1 + h2{
    margin-top: -1.25em;
  }
  h2 + h2,
  p + h2 {
    // margin: 1.5em 0 .5em 0;
  }
  p,
  ul,
  ol {
    max-width: 45em;
    }
  ul li:before { 
    content: "– ";
  }

  ol {
    margin-left: 1em;
  }

  figcaption {
    margin-top: .25em;
    font-size: 0.8em;
    color: #0EAE03;
  }
}


/* Project gallery
-------------------------------------------------- */
// https://codepen.io/allardyce/pen/YjvKpV

#album {
  margin: 1em 15px 1em -15px;
  display: flex;
  flex-wrap: wrap;
  figure {
    display: block;
    margin: 15px;
    cursor: pointer;
      &:hover {
          opacity: 0.9;
      }
      img {
          user-select: none;
          width: 100%;
          vertical-align: middle;
      }
  }
  &::after {
      content: '';
      flex-grow: 99999;
      min-width: calc(100vw / 4);
  }
  //Full width in mobile
  @media (max-width: 460px) {
      flex-direction: column;
      a { width: 100% !important; }
  }
}

//  Tiny Slider
.tns-controls{
  position: absolute;
  right:20px;
  top:50%;
  transform: translateY(-50%);
  z-index: 5;
  outline: none;
  button { 
    border-color: black;
    background: black;
    color: white;
  }
  [data-controls="prev"]{ left: 20px;}
  [data-controls="next"]{ right: 20px;}
}




/* Shop
-------------------------------------------------- */

.products {
  margin-top: 3em;
  width: calc(100% - 2em);
  .grid-item {
    float: left;
    position: relative;
    list-style: none;
    background: #fff !important;
    line-height: 1.1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 15px;
    overflow: hidden;
  }
  .grid-sizer,
  .grid-item { width: calc((100% - 15px * 4 ) / 5 ); }
  /* 2 columns */
  .grid-item.size-double {
    width: calc((100% - 15px * 4 ) / 5 * 2 + 15px );
  }

  

  .gutter-sizer { width: 15px;}

  li.color-purple { background-color: #821eb0;}
  li.color-pink { background-color: #f933d1;}
  li.color-orange { background-color: #ff6000;}
  li.color-blue { background-color: #00e4ff;}
  li.color-yellow { background-color: #ffea00;}
  li.color-grey { background-color: #a1a1a1;}

  a {
    background: #f5f5f5;
    display: block;
  }
  img {
    display: block;
    width: 100%;
    mix-blend-mode: multiply;
  }
  h3 {
    background: #eee;
    transition: opacity 250ms;
    font-size: 1.5rem;
    opacity: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 2;
    top:0;
    right:0;
    left:0;
    bottom: 0;
    text-align: center;
    padding: 1.5rem;
  }
  h3 strong { font-weight: normal;}
  h3 span span{
    font-style: normal;
    font-size: 1rem;
    display: block;
    margin: .5rem 0 0;
  } 
  .grid-item:hover h3 {
    opacity: 1;
  } 

  @media screen and (max-width: 40em) {
    .grid-item {
      width: 50%;
    }
  }

}


/* Product
-------------------------------------------------- */
.gallery { 
  position: relative;
  .item {
    padding:20px;height: 100%;
    display: flex; justify-content: center; align-items: center;
  }
  img { display: block; height: 100%;}
}

.product {
  &.gimmewhitespace {
    margin-left: var(--whitespace);
  }
  .images {
    background: #eee;
    width: 100%;
  }
  .description ul {
    list-style-type: none;
  }
  .intro { 
    font-size: 1.5rem;
    margin-left: 8.75rem;
  }
}

.description { 
  display: flex;
  margin-left: calc(var(--whitespace) * -1); 
}

.variants { 
  width: var(--whitespace);
  padding-right: 2rem;
  padding-top: 1em;
}

.variant {
    margin-bottom: 2rem;
}

.variant p{
    margin: 0;
}
.variant [property=description]{
    font-size: .85rem;
    line-height: 1.5rem;
}
.variant h3 {
    margin:0;
}
.variant h3 + .button {
    margin-top: 0;
}
.variant .button {
    background: black none repeat scroll 0 0;
    border-color: black;
    color: white;
}
.variant .price {
    background: white none repeat scroll 0 0;
    color: black;
    padding: 1em;
}

.details { flex:1; max-width: 45em;}

.soldout,
.blackbutton,
.button {
    border: none;
    background: white;
    font-size: 1rem;
    color: black;
    border: 3px solid;
    font-family: inherit;
    padding: .5em .75em;
    margin: 1rem 0;
}
.blackbutton,
.soldout{
  border-color: black;
  background: black;
  color: white;
  &:hover { color: white;}
}


/* Cart
-------------------------------------------------- */

#emptycart{
  display: none;
  border-top: 1px solid;
  &.visible{ display: block;}
}
.mention { color: #999; font-size: .85em;}
.shop-cart-mention { margin: 2rem 0 -1.5rem;}
.cart-table {
  width: 100%;
  text-align: right;
  border-collapse: collapse;
  strong, th { font-weight: 400; vertical-align: top;}
  p { margin: 0 }
  thead th {
      width: 12.5%;
      vertical-align: top;
      padding: 0 0 .5em 0;
      opacity: .5;
      text-transform: lowercase;
  }
  tbody td,
  tbody th,
  tfoot td.cart-table__tax,
  tfoot th.cart-table__tax,
  tfoot th.cart__tax {
      vertical-align: top;
      padding-top: .5em;
      padding-left: 20px;
      padding-bottom: 2em;
      position: relative;
      &::before {
          content: "";
          display: block;
          position: absolute;
          top:0;
          left: 20px;
          width: calc(100% - 20px);
          border-top: 1px solid black;
      }
  }
  th.cart-table__article { text-align: left; width: 62.5% }
  tbody th.cart-table__article,
  tfoot td.cart-table__tax {
      padding-left:0;
      &::before {
          left: 0;
          width: 100%;
      }
  }
  tfoot td.cart-table__tax,
  tfoot th.cart-table__tax,
  tfoot th.cart__tax {
      color: rgba(0,0,0,.5);
      padding-bottom: 0;

  }
  button {
      border: 0;
      background: none;
      opacity: .5;
      &:hover { opacity: 1}
  }


}

/* Checkout
-------------------------------------------------- */

.checkout-step { display: none; }
.checkout-step.visible { display: block; }

.checkout-buttons {
  padding: $baseline 0;
  word-spacing: 20px;
  transition: all 150ms;
  opacity: 1;
  * {
      word-spacing: normal;
  }
  .error {
      margin: 1em 0;
  }
  label {
      display: block;
      margin-bottom: 1em;
      
      span{
          padding-left: 1.5em;
          position: relative;
      }
      span::before{
          content: '';
          width: 20px;
          height: 20px;
          cursor: pointer;
          position: absolute;
          bottom: .1em;
          left: 0;
          background: transparent;
          border:2px solid black;
      }
      span::after {
        content: '';
        width: 9px;
        height: 5px;
        position: absolute;
        top: 4px;
        left: 5px;
        border: 3px solid black;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      input {
          visibility: hidden;
          position: absolute;
          &:checked + span:after {
              opacity: 1;
          }
      }
  }
  button { @include button; }
  &.hidden {
      opacity: 0;
      height: 0;
  }
}

.checkout-step.visible {
  &:not(:first-of-type){
    padding-top: $baseline;
  }

  .hidden {display: none}
  select, option {
      padding: 0
  }
  .field input:-moz-ui-invalid,
  .field input:user-invalid {
      background-color: white;
      box-shadow: none;
  }
  option {
      padding: .25em 0;
  }
  .field {
      margin: 0 0 .5em;
  }
  label {
      @include noselect;
      
  }
  .field label {
      display: block;
      margin-bottom: .25em;
      width: 100%
  }
  .field input, .field select, .field option{
      @include reset-input;
      background: black;
      color: white;;
      padding: .25em .5em;
      display: block;
      width: 100%;
      overflow: hidden;
  }
  .field.is-1-3 {
      float: left;
      width: calc(33.333% - 20px);
      margin-right: 20px;
  }
  .field.is-1-2 {
      float: left;
      width: calc(50% - 10px);
      margin-right: 20px;
  }
  .field.is-1-2 + .field.is-1-2 {
      margin-right: 0px;
      float: left;
  }
  .field.is-2-3 {
      width: calc(66.666%);
      float: left;
  }
  h2 {
      margin: 0 0 1em;
  }
  .radiofield {
      margin: 0;
      input{
          position: absolute;
          opacity: 0;
      }
      span { opacity: .5}
      label:hover span,
      input:checked + span { opacity: 1}
      input:checked + span::before{
          content: "→ "
      }
  }
}
#test.visible,
#address.visible,
#delivery.visible,
#payment.visible {
  .flex{
      display: flex;
      margin: 0 -10px;
  }
  article {
      padding-top: 1em;
      width:calc(37.5%);
      padding: 10px;
  }
  article + article {
      width:calc(62.5% );
      // padding-right: 0;
  }
}
#address {
  article:first-child { flex:3 1 0; }
}


/* Invoice
-------------------------------------------------- */

.m-invoice__container {
  margin-bottom: $baseline;
}
.invoice-section {
  margin-bottom: $baseline;
  > * :first-child { margin-top: 0 }
  > * :last-child { margin-bottom: 0 }
  > * { flex: 7}
  
}

.m-invoice__buttons {
  
  button { @include button;}
}

.loading { 
  margin: 0 auto;
  padding-top: .5em;
  display: none;
}
.is-loading {
  button[type=submit] { display: none; }
  &.paypal .loading.paypal { display: block;}
  &.credit-card-sca .loading.credit-card-sca { display: block;}
  .loading,
  #payment button {
      border:none;
      position: relative;
      &::before{
          top:-1px;
          left: 0;
          transform-origin: 0 0;
          position: absolute;
          content: "";
          display: block;
          width: 100%;
          border-top:1px solid black;
          animation: 1000ms linear infinite alternate loading;
      }
  }
  @keyframes loading{
      0% {  transform: translateX(0%) scaleX(0);}
      50% { transform: translateX(0%) scaleX(1);}
      100% { transform: translateX(100%) scaleX(0);}
  }
}


/* Print invoice
-------------------------------------------------- */

@media print{
  body{
    font-size: 10pt;
  }
  h2, h3 {
    margin: .5em 0 0;
  }
  .invoice-section { margin-bottom: 1em;}
  .gimmewhitespace { margin: 0 0 0 5rem;}
  .m-invoice__buttons,
  .invoice-header__infos,
  #nav { display: none;}
}